* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 7vh;
    width: 100%;
    background-color: black;
    padding: 10px;

    
}

input {
    float: right;
    padding-right: 20px;
}
header img {
    width: 110px;
    color: red;
    margin-right: 30px;
    float: left;
    vertical-align: middle;
}
header ul {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    margin-top: 7px;
  

}

ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    color: lightgray;
}
ul li:hover {
    color: white;
}

header input {
    width: 250px;
    height: 34px;
    display: inline-block;
}
.dx {
    float: right;
}
.dx p {
    margin-right: 20px;
}
.dx i {
    display: inline-block;
    color: white;
}
main {
    width:100% ;
    padding-left: 50px; 
    padding-right: 50px; 

    min-height: 100vh;
    background-color: #141414;
    display: flex;
  
    overflow-x: scroll;
}

.film {
    width: 250px;
    height: 500px;
    margin-right: 5px;
    margin-top: 7%;
    color: white;
    text-align: center;
    position: relative; 
    border: 0px;
    border-radius: 10px ;
    display: inline-block;
    vertical-align: middle;
    
}

.trama {
    color: white;
    font-size: 12px;
    margin-top: 10px;
}
.descrizione {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-top: 50px;
    background-color: rgba(20,20,20,0.5);
    padding-bottom: 10px;
    opacity: 0;

}

.descrizione:hover {
    opacity:1 ;

}

.film .descrizione:hover {
    min-height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(20,20,20,0.5);
    padding-bottom: 10px;
    display: block;
}

.descrizione .fa-play-circle {
    font-size: 30px;
    margin-top: 10px;
}
.copertina {
    width: 251px;
    height: 500px;
    border-radius: 10px ;
}
.lang {
    margin-top: 10px;
}
.flag {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
}

.overview {
    font-size: 10px;
}
.fa-star {
    color: red;
    
}
.film h1 {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.voti {
    margin-top: 10px;
}
