* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 7vh;
    width: 100%;
    background-color: black;
}
main {
    padding: 100px;
    width: 100%;
    min-height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.film {
    width: 250px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    display: flex;
    
    color: white;
    text-align: center;
    
}
.descrizione {
    min-height: 50%;
    width: 100%;

}
.copertina {
    width: 250px;
    height: 500px;
}
.flag {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.overview {
    font-size: 13px;
}
.fa-star {
    color: red;
    
}
.film h1 {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.film .voto {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;

}